# Лабораторная работа №1. EDA

In [11]:
import pandas as pd

In [12]:
data = pd.read_csv("data_sets/AirQualityUCI.csv", sep=";")
data.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10.03.2004,18.00.00,"2,6",1360,150,"11,9",1046,166,1056,113,1692,1268,"13,6","48,9","0,7578"
1,10.03.2004,19.00.00,2,1292,112,"9,4",955,103,1174,92,1559,972,"13,3","47,7","0,7255"
2,10.03.2004,20.00.00,"2,2",1402,88,9,939,131,1140,114,1555,1074,"11,9",54,"0,7502"
3,10.03.2004,21.00.00,"2,2",1376,80,"9,2",948,172,1092,122,1584,1203,11,60,"0,7867"
4,10.03.2004,22.00.00,"1,6",1272,51,"6,5",836,131,1205,116,1490,1110,"11,2","59,6","0,7888"

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   object
 3   PT08.S1(CO)    9357 non-null   int64
 4   NMHC(GT)       9357 non-null   int64
 5   C6H6(GT)       9357 non-null   object
 6   PT08.S2(NMHC)  9357 non-null   int64
 7   NOx(GT)        9357 non-null   int64
 8   PT08.S3(NOx)   9357 non-null   int64
 9   NO2(GT)        9357 non-null   int64
 10  PT08.S4(NO2)   9357 non-null   int64
 11  PT08.S5(O3)    9357 non-null   int64
 12  T              9357 non-null   object
 13  RH             9357 non-null   object
 14  AH             9357 non-null   object
dtypes: int64(8), object(7)
memory usage: 1.1+ MB

In [14]:
data.describe()

,PT08.S1(CO),NMHC(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3)
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
mean,1048.990061,-159.090093,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032
std,329.832710,139.789093,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000
25%,921.000000,-200.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000
50%,1053.000000,-200.000000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000
75%,1221.000000,-200.000000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000
max,2040.000000,1189.000000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000

In [15]:
data.duplicated().sum()

np.int64(0)

### Датасет содержит следующие поля:
* Date - дата наблюдения

* Time - время наблюдения

* CO(GT) - среднечасовая концентрация CO в мг/м³

* PT08.S1(CO) - среднечасовые показания датчика (номинально целевой уровень CO)

* NMHC(GT) - среднечасовая концентрация неметаллических углеводородов в мкг/м³

* C6H6(GT) - среднечасовая концентрация бензола в мкг/м³

* PT08.S2(NMHC) - среднечасовые показания датчика (номинально целевое значение NMHC)

* NOx(GT) - среднечасовая концентрация NOx в ppb (по данным эталонного анализатора)

* PT08.S3(NOx) - среднечасовые показания датчика (номинально целевой уровень NOx)

* NO2(GT) - среднечасовая концентрация NO2 в мкг/м³ (по данным эталонного анализатора)

* PT08.S4(NO2) - среднечасовые показания датчика (номинально целевое значение NO2)

* PT08.S5(O3) - среднечасовые показания датчика (номинально целевой уровень O3)

* T - температура

* RH - относительная влажность

* AH - абсолютная влажность