# Лабораторная работа №1. EDA

In [153]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set_palette("Set2")
pd.set_option('future.no_silent_downcasting', True)

In [154]:
data = pd.read_csv("data_sets/AirQualityUCI.csv", sep=";")
data.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10.03.2004,18.00.00,"2,6",1360,150,"11,9",1046,166,1056,113,1692,1268,"13,6","48,9","0,7578"
1,10.03.2004,19.00.00,2,1292,112,"9,4",955,103,1174,92,1559,972,"13,3","47,7","0,7255"
2,10.03.2004,20.00.00,"2,2",1402,88,9,939,131,1140,114,1555,1074,"11,9",54,"0,7502"
3,10.03.2004,21.00.00,"2,2",1376,80,"9,2",948,172,1092,122,1584,1203,11,60,"0,7867"
4,10.03.2004,22.00.00,"1,6",1272,51,"6,5",836,131,1205,116,1490,1110,"11,2","59,6","0,7888"

In [155]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   object
 3   PT08.S1(CO)    9357 non-null   int64
 4   NMHC(GT)       9357 non-null   int64
 5   C6H6(GT)       9357 non-null   object
 6   PT08.S2(NMHC)  9357 non-null   int64
 7   NOx(GT)        9357 non-null   int64
 8   PT08.S3(NOx)   9357 non-null   int64
 9   NO2(GT)        9357 non-null   int64
 10  PT08.S4(NO2)   9357 non-null   int64
 11  PT08.S5(O3)    9357 non-null   int64
 12  T              9357 non-null   object
 13  RH             9357 non-null   object
 14  AH             9357 non-null   object
dtypes: int64(8), object(7)
memory usage: 1.1+ MB

In [156]:
data.duplicated().sum()

np.int64(0)

In [157]:
data.isna().sum()

Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

### Датасет содержит следующие поля:
* Date - дата наблюдения

* Time - время наблюдения

* CO(GT) - среднечасовая концентрация CO в мг/м³

* PT08.S1(CO) - среднечасовые показания датчика (номинально целевой уровень CO)

* NMHC(GT) - среднечасовая концентрация неметаллических углеводородов в мкг/м³

* C6H6(GT) - среднечасовая концентрация бензола в мкг/м³

* PT08.S2(NMHC) - среднечасовые показания датчика (номинально целевое значение NMHC)

* NOx(GT) - среднечасовая концентрация NOx в ppb (по данным эталонного анализатора)

* PT08.S3(NOx) - среднечасовые показания датчика (номинально целевой уровень NOx)

* NO2(GT) - среднечасовая концентрация NO2 в мкг/м³ (по данным эталонного анализатора)

* PT08.S4(NO2) - среднечасовые показания датчика (номинально целевое значение NO2)

* PT08.S5(O3) - среднечасовые показания датчика (номинально целевой уровень O3)

* T - температура

* RH - относительная влажность

* AH - абсолютная влажность

In [158]:
float_convert_columns = ["CO(GT)", "C6H6(GT)", "T", "RH", "AH"]
for column in float_convert_columns:
    data[column] = data[column].str.replace(',', '.')
    data[column] = data[column].astype(float)
data["Date"] = pd.to_datetime(data["Date"] + " " + data["Time"], format="%d.%m.%Y %H.%M.%S")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   datetime64[ns]
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   int64
 4   NMHC(GT)       9357 non-null   int64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   int64
 7   NOx(GT)        9357 non-null   int64
 8   PT08.S3(NOx)   9357 non-null   int64
 9   NO2(GT)        9357 non-null   int64
 10  PT08.S4(NO2)   9357 non-null   int64
 11  PT08.S5(O3)    9357 non-null   int64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(8), object(1)
memory usage: 1.1+ MB

Разобьем столбец с датой на отдельные столбцы с годом, месяцем, днем, днем недели и часом. Полный столбец `Date` после этого удалим.

In [159]:
data["year"] = data["Date"].dt.year
data["month"] = data["Date"].dt.month_name()
data["day"] = data["Date"].dt.day
data["day_of_week"] = data["Date"].dt.day_name()
data["hour"] = data["Date"].dt.hour

data = data.drop(["Date", "Time"], axis=1)
data

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,year,month,day,day_of_week,hour
0,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578,2004,March,10,Wednesday,18
1,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255,2004,March,10,Wednesday,19
2,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502,2004,March,10,Wednesday,20
3,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867,2004,March,10,Wednesday,21
4,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888,2004,March,10,Wednesday,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,3.1,1314,-200,13.5,1101,472,539,190,1374,1729,21.9,29.3,0.7568,2005,April,4,Monday,10
9353,2.4,1163,-200,11.4,1027,353,604,179,1264,1269,24.3,23.7,0.7119,2005,April,4,Monday,11
9354,2.4,1142,-200,12.4,1063,293,603,175,1241,1092,26.9,18.3,0.6406,2005,April,4,Monday,12
9355,2.1,1003,-200,9.5,961,235,702,156,1041,770,28.3,13.5,0.5139,2005,April,4,Monday,13
9356,2.2,1071,-200,11.9,1047,265,654,168,1129,816,28.5,13.1,0.5028,2005,April,4,Monday,14

In [160]:
data.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,year,day,hour
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
mean,-34.207524,1048.990061,-159.090093,1.865683,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,9.778305,39.485380,-6.837604,2004.240141,15.876884,11.498557
std,77.657170,329.832710,139.789093,41.380206,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,43.203623,51.216145,38.976670,0.427192,8.808653,6.923182
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,2004.000000,1.000000,0.000000
25%,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692300,2004.000000,8.000000,5.000000
50%,1.500000,1053.000000,-200.000000,7.900000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.600000,0.976800,2004.000000,16.000000,11.000000
75%,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200,2004.000000,23.000000,18.000000
max,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000,2005.000000,31.000000,23.000000

Заметим, что во всех столбцах, характеризующих воздух, минимальное значение показателей составляет -200. Можно было бы предположить, что такое возможно из-за некорректной работы приборов, но значение -200 присутствует не только в показателях, которые фиксировались приборами, но и в тех столбцах, которые отображают фактический показатель. Ввиду того, что в датасете отсутствуют пропуски, возможно, что значения -200 использовали для заполнения пропусков. Проанализируем данные, в которых нет значений -200 среди показателей.

In [161]:
numeric_columns = data.columns.drop(["year", "month", "day", "day_of_week", "hour"])
data[(data[numeric_columns] > -200).all(axis=1)].describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,year,day,hour
count,827.000000,827.000000,827.000000,827.000000,827.000000,827.000000,827.000000,827.000000,827.000000,827.000000,827.000000,827.000000,827.000000,827.0,827.000000,827.000000
mean,2.353567,1207.879081,231.025393,10.771100,966.116082,143.501814,963.297461,100.259976,1600.620314,1045.812576,15.601451,49.050181,0.831853,2004.0,18.214027,12.123337
std,1.409496,241.816997,208.461912,7.418134,266.424557,81.829717,265.914168,31.493823,302.291793,400.134662,4.825304,15.266746,0.178506,0.0,8.777249,6.851010
min,0.300000,753.000000,7.000000,0.500000,448.000000,12.000000,461.000000,19.000000,955.000000,263.000000,6.300000,14.900000,0.402300,2004.0,1.000000,0.000000
25%,1.300000,1017.000000,77.000000,4.800000,754.000000,81.000000,769.000000,78.500000,1369.500000,760.000000,11.900000,36.700000,0.718950,2004.0,11.500000,7.000000
50%,2.000000,1172.000000,157.000000,9.100000,944.000000,128.000000,920.000000,99.000000,1556.000000,1009.000000,15.000000,49.600000,0.817700,2004.0,17.000000,12.000000
75%,3.100000,1380.000000,318.500000,14.800000,1142.500000,187.000000,1131.000000,122.000000,1783.500000,1320.000000,18.300000,60.550000,0.927500,2004.0,26.000000,18.000000
max,8.100000,2040.000000,1189.000000,39.200000,1754.000000,478.000000,1935.000000,196.000000,2679.000000,2359.000000,30.000000,83.200000,1.485200,2004.0,31.000000,23.000000

Заметим, что среди отфильтрованных данных все столбцы принимают положительные значения. Значит, значение -200 использовалось для заполнения пропусков в данных. Заменим значение -200 на Nan и заполним пропуски.

In [162]:
data = data.replace(-200, pd.NA)
data.isna().sum() / data.shape[0] * 100

CO(GT)           17.986534
PT08.S1(CO)       3.911510
NMHC(GT)         90.231912
C6H6(GT)          3.911510
PT08.S2(NMHC)     3.911510
NOx(GT)          17.516298
PT08.S3(NOx)      3.911510
NO2(GT)          17.548360
PT08.S4(NO2)      3.911510
PT08.S5(O3)       3.911510
T                 3.911510
RH                3.911510
AH                3.911510
year              0.000000
month             0.000000
day               0.000000
day_of_week       0.000000
hour              0.000000
dtype: float64

Так как 90% значений столбца `NMHC(GT)` - пропуски, то этот столбец стоит удалить.

Так как пропуски есть только в числовых столбцах, соответствующих непрерывным переменным, то заполним пропуски медианным значением.

In [163]:
data = data.drop("NMHC(GT)", axis=1)
for column in numeric_columns.drop("NMHC(GT)"):
    data[column] = data[column].fillna(data[column].median())

data.isna().sum()

CO(GT)           0
PT08.S1(CO)      0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
year             0
month            0
day              0
day_of_week      0
hour             0
dtype: int64

## Статистический анализ данных

In [164]:
data

,CO(GT),PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,year,month,day,day_of_week,hour
0,2.6,1360,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578,2004,March,10,Wednesday,18
1,2.0,1292,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255,2004,March,10,Wednesday,19
2,2.2,1402,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502,2004,March,10,Wednesday,20
3,2.2,1376,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867,2004,March,10,Wednesday,21
4,1.6,1272,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888,2004,March,10,Wednesday,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,3.1,1314,13.5,1101,472,539,190,1374,1729,21.9,29.3,0.7568,2005,April,4,Monday,10
9353,2.4,1163,11.4,1027,353,604,179,1264,1269,24.3,23.7,0.7119,2005,April,4,Monday,11
9354,2.4,1142,12.4,1063,293,603,175,1241,1092,26.9,18.3,0.6406,2005,April,4,Monday,12
9355,2.1,1003,9.5,961,235,702,156,1041,770,28.3,13.5,0.5139,2005,April,4,Monday,13
9356,2.2,1071,11.9,1047,265,654,168,1129,816,28.5,13.1,0.5028,2005,April,4,Monday,14