# Лабораторная работа №1. EDA

In [156]:
import pandas as pd

In [157]:
data = pd.read_csv("data_sets/neo_task.csv")

### Исследование исходных данных

In [158]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90836 entries, 0 to 90835
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  90266 non-null  float64
 1   name                90790 non-null  object
 2   est_diameter_min    90836 non-null  float64
 3   est_diameter_max    90379 non-null  float64
 4   relative_velocity   90279 non-null  float64
 5   miss_distance       90836 non-null  float64
 6   absolute_magnitude  90152 non-null  float64
 7   hazardous           90836 non-null  bool
dtypes: bool(1), float64(6), object(1)
memory usage: 4.9+ MB


### Датасет содержит следующие поля:
* `id` - идентификатор
* `name` - название
* `est_diameter_min` - минимальный расчетный диаметр
* `est_diameter_max` - максимальный расчетный диаметр
* `relative_velocity` - относительная скорость
* `miss_distance` - дистанция пролета / минимальная дистанция
* `absolute_magnitude` - абсолютная звездная величина
* `hazardous` - опасность

In [159]:
data.describe()

,id,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,absolute_magnitude
count,9.026600e+04,90836.000000,90379.000000,90279.000000,9.083600e+04,90152.000000
mean,1.438528e+07,0.127432,0.284911,48066.003701,3.706655e+07,23.526653
std,2.087357e+07,0.298511,0.668148,25294.523635,2.235204e+07,2.893982
min,2.000433e+06,0.000609,0.001362,203.346433,6.745533e+03,9.230000
25%,3.448595e+06,0.019256,0.043057,28620.469765,1.721082e+07,21.340000
50%,3.748364e+06,0.048368,0.108153,44190.108201,3.784658e+07,23.700000
75%,3.884023e+06,0.143402,0.320656,62931.850541,5.654900e+07,25.700000
max,5.427591e+07,37.892650,84.730541,236990.128088,7.479865e+07,33.200000

In [160]:
data.head(35)

,id,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,absolute_magnitude,hazardous
0,3561024.0,(2011 GZ2),0.016016,0.035813,56014.078517,1.024333e+06,26.10,False
1,54016766.0,(2020 HT6),0.030518,0.068240,7864.348060,3.268186e+07,24.70,False
2,3746620.0,(2016 ED156),0.055533,0.124177,55257.544508,6.538636e+07,23.40,False
3,3633054.0,(2013 FD8),0.019256,0.043057,41531.404722,1.260796e+07,25.70,False
4,3742124.0,(2016 CW31),0.139494,0.311918,67639.394481,7.130590e+07,21.40,False
5,3395961.0,(2007 WU3),0.046191,0.103286,18933.875801,2.847083e+07,23.80,False
6,3826808.0,(2018 PH22),0.116026,0.259442,43184.402732,3.418417e+07,21.80,False
7,3339667.0,(2006 QV89),0.021113,0.047211,38064.802287,2.653154e+07,25.50,False
8,3644044.0,(2013 LL31),0.221083,0.494356,33736.859964,5.670662e+07,20.40,False
9,3655750.0,(2014 AC16),0.242412,0.542051,56188.215588,6.175441e+07,20.20,False
10,3825663.0,(2018 OB),0.042126,0.094198,27124.362276,6.524484e+06,24.00,False
11,2450300.0,450300 (2004 QD14),0.211132,0.472106,42137.787839,5.215943e+07,20.50,True
12,3648206.0,(2013 RG74),0.058151,0.130029,107864.682380,5.446341e+07,23.30,False
13,3830872.0,(2018 SA2),0.076658,0.171412,45602.605680,3.752094e+07,22.70,False
14,3102771.0,(2002 AL31),0.033462,0.074824,29773.383928,6.971921e+07,24.50,False
15,2231937.0,231937 (2001 FO32),0.810130,1.811507,107234.792078,2.473712e+07,17.58,True
16,2425450.0,425450 (2010 EV45),0.321037,0.717860,13863.838198,3.697641e+07,19.59,False
17,3797673.0,(2018 AV11),0.025384,0.056760,32748.234136,4.260990e+06,25.10,False
18,3836309.0,(2018 WV1),0.002315,0.005177,48462.363284,5.826952e+07,30.30,False
19,54223982.0,(2021 WO),0.174805,0.390877,44638.402759,5.216663e+07,20.91,False
20,54099606.0,(2020 XB3),0.008405,0.018795,68728.630148,5.690359e+07,27.50,False
21,54051128.0,(2020 QF),0.009216,0.020608,57602.999402,5.856302e+07,27.30,False
22,3673918.0,(2014 MA6),0.033462,0.074824,29045.329505,7.430823e+07,24.50,False
23,3603626.0,(2012 JM4),0.160160,0.358129,4276.979900,6.049981e+07,21.10,False
24,3836108.0,(2018 VU4),0.044112,0.098637,49761.987546,9.635709e+06,23.90,False
25,3407945.0,(2008 GE),0.058151,0.130029,25982.663954,7.346016e+07,23.30,False
26,3152311.0,(2003 GX),0.040230,0.089958,19562.597936,6.217920e+07,24.10,False
27,54192756.0,(2021 RF3),0.014878,0.033269,37152.011522,2.767003e+07,26.26,False
28,3674178.0,(2014 MT41),0.013322,0.029788,24839.140055,1.691996e+06,26.50,False
29,3515381.0,(2010 GM23),0.028877,0.064571,64512.931486,2.288100e+07,24.82,False
30,3837720.0,(2019 AV6),0.080270,0.179490,52742.515784,6.248853e+07,22.60,False
31,3673546.0,(2014 LX14),0.114434,0.255882,26966.132383,5.710570e+07,21.83,False
32,3869325.0,(2019 SR5),0.076658,0.171412,41213.553728,7.437276e+07,22.70,False
33,3574820.0,(2011 PN1),0.008801,0.019681,6106.489924,6.921334e+06,27.40,False
34,54208041.0,(2021 TQ10),0.025151,0.056239,23224.898193,5.841470e+06,25.12,False


### Получили следующую характеристику исходных данных:
* в столбцах `absolute_magnitude`, `id`, `relative_velocity`, `est_diameter_max`, `name` есть пропуски
* неподходящий тип данных в столбце `id` - тип float необходимо изменить на тип int, так как идентификатор - целое число

### Обработка пропущенных значений

In [161]:
(data.isna().sum() / data.shape[0] * 100).sort_values(ascending=False)

absolute_magnitude    0.753005
id                    0.627505
relative_velocity     0.613193
est_diameter_max      0.503104
name                  0.050641
est_diameter_min      0.000000
miss_distance         0.000000
hazardous             0.000000
dtype: float64

##### Недостающие значение данных в следующих столбцах:
* `absolute_magnitude`
* `id`
* `relative_velocity`
* `est_diameter_max`
* `name`

In [162]:
data["id"].value_counts()

id
2277810.0    43
2469219.0    43
3743123.0    39
3893865.0    38
2138175.0    38
             ..
3730582.0     1
3555046.0     1
3735469.0     1
3754369.0     1
3674178.0     1
Name: count, Length: 27352, dtype: int64

### Предположения для заполнения пропущенных значений:
* Заполнить пропущенные значения в столбце `id` значением моды по данному столбцу
* Заполнить пропущенные значения в столбце `absolute_magnitude` средним значением по данному столбцу
* Заполнить пропущенные значения в столбце `relative_velocity` средним значением по данному столбцу
* Заполнить пропущенные значения в столбце `est_diameter_max` путем прибавления к `est_diameter_min` (среди которого нет пропусков) среднего значения отклонения `est_diameter_max` от `est_diameter_min`
* Заполнить пропущенные значения в столбце `name` значениями "unknown"

In [163]:
data["id"] = data["id"].fillna(data["id"].mode()[0])
data["absolute_magnitude"] = data["absolute_magnitude"].fillna(data["absolute_magnitude"].mean())
data["relative_velocity"] = data["relative_velocity"].fillna(data["relative_velocity"].mean())

mean_diameter_difference = data["est_diameter_max"].mean() - data["est_diameter_min"].mean()
data["est_diameter_max"] = data["est_diameter_max"].fillna(data["est_diameter_min"] + mean_diameter_difference)
data["name"] = data["name"].fillna(data["name"].mode()[0])

In [164]:
data.isna().sum()

id                    0
name                  0
est_diameter_min      0
est_diameter_max      0
relative_velocity     0
miss_distance         0
absolute_magnitude    0
hazardous             0
dtype: int64

### Обогащение данных
Из столбца `name` можно извлечь информацию о годе наблюдения метеорита.

In [165]:
data["year"] = data["name"].str.extract(r'\(.*?\b(\d{4})\b.*?\)')
data["year"].value_counts()

year
2021    9433
2020    8632
2019    7421
2017    6540
2016    6274
        ...
1953       1
1968       1
1947       1
1979       1
4788       1
Name: count, Length: 69, dtype: int64

In [166]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90836 entries, 0 to 90835
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  90836 non-null  float64
 1   name                90836 non-null  object
 2   est_diameter_min    90836 non-null  float64
 3   est_diameter_max    90836 non-null  float64
 4   relative_velocity   90836 non-null  float64
 5   miss_distance       90836 non-null  float64
 6   absolute_magnitude  90836 non-null  float64
 7   hazardous           90836 non-null  bool
 8   year                90831 non-null  object
dtypes: bool(1), float64(6), object(2)
memory usage: 5.6+ MB

Заполним пропуски в столбце с годом

In [170]:
data["year"] = data["year"].fillna(data["year"].mode()[0])
data["year"].isna().sum()

np.int64(0)

### Коррекция типов данных

In [168]:
data["id"] = data["id"].astype(int)
data["year"] = data["year"].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90836 entries, 0 to 90835
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  90836 non-null  int64
 1   name                90836 non-null  object
 2   est_diameter_min    90836 non-null  float64
 3   est_diameter_max    90836 non-null  float64
 4   relative_velocity   90836 non-null  float64
 5   miss_distance       90836 non-null  float64
 6   absolute_magnitude  90836 non-null  float64
 7   hazardous           90836 non-null  bool
 8   year                90836 non-null  int64
dtypes: bool(1), float64(5), int64(2), object(1)
memory usage: 5.6+ MB